<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

	<header>
		<div class="container"> <center>
		<h1> Vinod kinoni</h1>
		<h2>Machine Learning Sentiment Analysis</h2>
	</center>
	</div>
	</header>

	<div class="ml-container"> <center>

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50" required ></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">

		{% if target_key == 1%}
			<p>Input is: {{text}}</p>
			<p>Sentiment is: {{sentiment}}</p>
			<p>Probability is : {{probability}}</p>
			<img src="{{ image }}" alt="Image">

		{% endif %}
	</form>

    </center>



	</div>




</body>
</html>